PORT=5000
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground
GOOGLE_REFRESH_TOKEN=your_google_refresh_token
DRIVE_FOLDER_ID=your_target_drive_folder_id
WHATSAPP_GROUP_NAME=your_whatsapp_group_name
DRIVE_POLLING_CRON=* * * * *
